<h4>ARAÇ LİSTESİ</h4>
<div class="content">
  <form class="d-flex md-auto">
    <input
      class="form-control me-2"
      type="text"
      placeholder="Arama ifadesi giriniz.."
      aria-label="Organik Arama"
      [(ngModel)]="cardetailFilter"
      [ngModelOptions]="{ standalone: true }"
    />
  </form>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <select [(ngModel)]="brandFilter" class="form-select" aria-placeholder="Marka Seçiniz">
      <option value=0>Marka Seç</option> 
      <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">{{brand.brandName}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example"> 
      <option value=0>Renk Seç</option> 
      <option  *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)" >{{color.colorName}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <button
    routerLink="/cardetails/color/{{colorFilter}}/brand/{{brandFilter}}"
    type="button"
    style="float: right"
    class="btn btn-outline-success">
      Filtre
  </button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">

<div *ngFor="let cardetail of cardetails | cardetailPipe: cardetailFilter" class="card mr-2"  [ngClass]="cardetail.isRentable ? 'online' : 'offline'" style="width: 18rem;margin-right: 10px;">
    <img *ngIf="cardetail.imagePath" [src]="imageUrl+cardetail.imagePath" class="card-img-top" style="object-fit: cover;"width="100" height="50%" alt="...">
    <img *ngIf="!cardetail.imagePath" [src]="imageUrl+'/images/mslogo.png'" class="card-img-top"  style="object-fit: cover;"width="100" height="50%"alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ cardetail.carName }}</h5>
      <p class="card-text">Acıklama Gelecek </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ cardetail.modelYear }}</li>
      <li class="list-group-item">{{ cardetail.colorName }} </li>
      <li class="list-group-item">{{ cardetail.brandName }}</li>
      <li class="list-group-item">{{ cardetail.carName }}</li>
      <li class="list-group-item">{{ cardetail.dailyPrice }}</li>
      <li class="list-group-item">{{ cardetail.description}}</li>
      <!-- <li class="list-group-item">{{ cardetail.isRentable }} </li> -->
    </ul>
    <div class="card-body">
    <div class="row">
      <button type="button" routerLink="/cardetails/cardetailimage/{{ cardetail.carId }}"class="btn btn-outline-danger">Araba Detay</button>
      <!-- <button type="button" class="btn btn-outline-warning" routerLink="/cardetails/customers/{{ cardetail.carId }}">Müşteri Listesi</button>
      <button type="button" class="btn btn-outline-info">Kira Listesi</button> -->
    </div>
  </div>
</div>

