<div class="collapse show" id="brand-collapse">
  <div class="card-header"><label for="colorFilter" class="form-label">Model Ara</label>
    <input
      type="text"
      class="form-control"
      id="colorFilter"
      placeholder="Arama ifadesi giriniz.."
     
    />
  </div>
<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li *ngFor="let brand of brands"> <a routerLink="/cardetails/brand/{{brand.brandId}}" class="link-dark rounded">{{brand.brandName}}</a></li>
  </ul>
</div>

