<div class="collapse show" id="brand-collapse">
  <div class="card-header"><label for="colorFilter" class="form-label">Model Ara</label>
    <input
     type="text"
     class="form-control"
     id="brandFilter"
     placeholder="Arama ifadesi giriniz.."
     [(ngModel)]="brandFilter"
    />
  </div>
<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li *ngFor="let brand of brands | brandPipe:brandFilter"> <a routerLink="/cardetails/brand/{{brand.brandId}}" class="link-dark rounded">{{brand.brandName}}</a></li>
  </ul>
</div>

