<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
  
      <div class="form-floating mb-2">
        <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name">
        <label for="firstName">First Name</label>
      </div>
  
      <div class="form-floating mb-2">
        <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name">
        <label for="lastName">Last Name</label>
      </div>
  
      <div class="form-floating mb-2">
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Email address</label>
      </div>
  
      <div class="form-floating mb-2">
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="register()" [disabled]="!registerForm.valid">Sign Up</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
  </body>