
<button type="button" class="btn btn-outline-success" (click)='goToPayment()' data-bs-toggle="modal"  data-bs-target="#paymentModal" style="float:right">
  Ödeme Yap
    </button>
   
    <!-- Modal -->
    <div class="modal fade w-100" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true" *ngIf="state !== 1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rentalModalLabel">Araç Kiralama</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group" style="margin-bottom: 15px;">
                <label for="creditCardNumber">Kredi Kartı Numarası</label>
                <input [(ngModel)]="creditCardNumber" type="text" class="form-control" id="creditCardNumber" name="creditCardNumber">
              </div>
              <div class="form-group" style="margin-bottom: 15px;">
                <label for="expirationDate">Bitiş Süresi</label>
                <input [(ngModel)]="expirationDate" type="text" class="form-control" id="expirationDate" name="expirationDate">
              </div>
              <div class="form-group" style="margin-bottom: 15px;">
                <label for="securityCode">Güvenlik Kodu</label>
                <input [(ngModel)]="securityCode" type="text" class="form-control" id="securityCode" name="securityCode">
              </div>
              <div class="form-group" style="margin-bottom: 15px;">
                <label for="price">Ücret</label>
                <input [(ngModel)]="price" type="number" class="form-control" id="price" name="price">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button (click)="addPayment()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Onayla </button>
          </div>
        </div>
      </div>
    </div>
