<div class="content">
<form [formGroup]="paymentForm"class="row g-3">
  <div class="col-12">
    <label for="inputAddress" class="form-label">Kartın Üstündeki İsim</label>
    <input type="text" class="form-control" id="customerName" placeholder="İsim Girin">
  </div>
  
  <div class="col-md-4">
    <label for="creditCardNumber" class="form-label">Kart Numarası</label>
    <input type="text" formControlName="creditCardNumber" class="form-control" id="creditCardNumber" placeholder="____-____-____-____">
  </div>
  <div class="col-md-4">
    <label for="expirationDate" class="form-label">Son Kullanma Tarihi</label>
    <input type="text" formControlName="expirationDate" class="form-control" id="expirationDate" placeholder="__/__">
  </div>
  <div class="col-md-4">
    <label for="securityCode" class="form-label">Güvenlik Kodu</label>
    <input type="text" class="form-control" formControlName="securityCode" id="securityCode"placeholder="___">
  </div>
  <div class="col-12">

    <div class="alert alert-info" role="alert" *ngIf="totalPrice">
      Total Price : {{totalPrice}}
    </div>

    <div class="form-check">
      <label class="form-check-label" for="gridCheck">
        Kartı Kaydetmek İster misiniz?
       </label>
      <input class="form-check-input" type="checkbox" id="gridCheck">
    </div>
  </div>
  <div class="col-12 offset-10">
    <button type="submit" class="btn btn-primary" (click)="addPayment()">Ödeme Yap</button>
  </div>
</form>
</div>
