<div class="mb-3">
  <form [formGroup]="updateUserForm">
    <label for="firstName" class="form-label">İsmi</label>
   <p></p>
    <input type="text" class="form-control" id="firstName" placeholder="{{user?.firstName}}" formControlName="firstName">
  
  <div class="mb-3">
    <label for="lastName" class="form-label">Soyİsmi</label>
    <input type="text" class="form-control" id="lastName" placeholder="{{user?.lastName}}" formControlName="lastName">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email Adresi</label>
    <input type="text" class="form-control" id="email" placeholder="{{user?.email}}" formControlName="email">
  </div>
    <div class="mb-3">
      <label for="password" class="form-label"> Eksi Şifre</label>
      <input type="text" class="form-control" id="password" placeholder="*******" formControlName="password">
    </div>
  <div class="mb-3">
    <label for="password" class="form-label"> Şifre</label>
    <input type="text" class="form-control" id="password" placeholder="******" formControlName="password">
  </div>
  <div class="mb-12">
  <div class="col-md-12 offset-md-9">
    <button type="button" class="btn btn-outline-success" (click)="updateUser()">Şifre Güncelle
    </button>
  </div>
  </div>
</form>
</div>
