
<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#rentalModal" style="float:right" *ngIf="carforRent?.isRentable">
  Kirala
  </button>

  <span  class="text-danger"  *ngIf="!carforRent?.isRentable">
    Araç zaten kiralık
  </span>
 
  <!-- Modal -->
  <div class="modal fade" id="rentalModal" tabindex="-1" aria-labelledby="rentalModalLabel" aria-hidden="true"  >
    <div class="modal-dialog">

      <!-- Giriş Yapmamışsa -->

      <div class="modal-content" *ngIf="!isAuthenticated()">
        <div class="modal-header">
          <h5 class="modal-title" id="rentalModalLabel">Giriş Yapmanız Gerek</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <button [routerLink]="['/login']" data-bs-dismiss="modal" class="btn btn-outline-info">Go to login</button>
        </div>
      </div>



      <!-- Giriş Yapmışsa -->
      <div class="modal-content" *ngIf="isAuthenticated()">
        <div class="modal-header">
          <h5 class="modal-title" id="rentalModalLabel">Araç Kiralama</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
            <div class="form-group" style="margin-bottom: 15px;">
              <label for="rentDate">Kiralama Tarihi</label>
              <input [(ngModel)]="rentDate"  type="datetime-local" class="form-control" id="rentDate" name="rentDate">
              <p *ngIf="message" class="text-danger"> {{message}} </p>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
              <label for="returnDate">Geri Dönüş Tarihi</label>
              <input [(ngModel)]="returnDate" type="datetime-local" class="form-control" id="returnDate" name="returnDate"  (input)='totalAmount()'>
            </div>
           </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      <button type="button" class="btn btn-outline-success" (click)="payment()" style="float:right">
        Ödeme Yap
          </button>
        </div>
      </div>
    </div>
  </div>