
<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-md-3">
<div class="p-3 bg-white" style="width: 280px;">
  <a routerLink="/cardetails" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">Tüm Arabalar</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#color-collapse" aria-expanded="true">
       Renkler 
      </button>
   <app-color></app-color>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#brand-collapse" aria-expanded="true">
        Modeller </button>
        <app-brand></app-brand>
   </li>

  

  </ul>
</div>

    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet> 
    </div>
  </div>
</div>




