<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <h1 class="h4 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mt-2">
        <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <button class="w-100 btn btn-dark" type="submit" (click)="login()" >Sign in</button>
     
    </form>
  </main>
  
  </body>