<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><button type="button" routerLink="/admin/cars/add"  style="float:right;color:#77d0d9" class="btn btn-dark">Araba ekle</button></div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              
              <th scope="col">Araba Adı</th>
              <th scope="col">Renk Numarası</th>
              <th scope="col">Marka Numarası</th>
              <th scope="col">Günlük Fiyatı</th>
              <th scope="col">Açıklması</th>
              <th scope="col">Findeks Skoru</th>
              <th scope="col">Güncelle</th>
              <th scope="col">Sil</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of cars">
              
              <td>{{car.carName}}</td>
              <td>{{car.colorId}}</td>
              <td>{{car.brandId }}</td>
              <td>{{car.dailyPrice  | currency: "USD":true:"1.2-2" }}</td>
              <td>{{car.description}}</td>
              <td>{{car.findeks}}</td>
              <td>
                <button type="button"  class="btn btn-outline-dark" (click)="getCarUpdate(car)" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                  Güncelle
                </button>
              </td>
              <td>
                <button type="button"   class="btn btn-secondary" (click)="removeCar(car)" >
                  Sil
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class="content">
    <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><button type="button" routerLink="/admin/colors/add"  style="float:right;color:#77d0d9" class="btn btn-dark">Renk ekle</button></div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                
                <th scope="col">Renk Adı</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let color of colors">
                
                <td>{{color.colorName}}</td>
                <td>
                  <button type="button" (click)="getColor(color)"    class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1" >
                    Güncelle
                  </button>
                </td>
                <td>
                  <button type="button" (click)="removeColor(color)"   class="btn btn-secondary">
                    Sil
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card">
          <div class="card-header"><button type="button"  routerLink="/admin/brands/add"  style="float:right;color: #77d0d9" class="btn btn-dark">Marka ekle</button></div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th scope="col">Marka Adı</th>
                  <th scope="col">Güncelle</th>
                  <th scope="col">Sil</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let brand of brands">
                  
                  <td>{{brand.brandName}}</td>
                  <td>
                    <button type="button"  (click)="getBrandforUpdate(brand)"  class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                      Güncelle
                    </button>
                  </td>
                  <td>
                    <button type="button" (click)="removeBrand(brand)"  class="btn btn-secondary">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>



<!-- Modal For Brand -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"><h5 class="title" >Marka Güncelle</h5></div>
              <form [formGroup]="brandUpdateForm" >
                  <div class="form-group">
                    <label for="brandName" class="col-sm-2 col-form-label col-form-label-sm">Marka Adı</label>
                    <input type="hidden" formControlName="brandId"/>
                   <input type="text"
                    id="brandName" 
                   formControlName="brandName"
                   class="form-control"
                   placeholder="Marka Adı"/>
                  </div>
                  <br>
                
                  <button style="float:right" type="button" (click)="updateBrand()" class="btn btn-outline-dark">Marka Güncelle </button>
                
              </form>
            </div>
          </div>
        </div>
      </div>
 
    </div>
  </div>




<!-- Modal For Color -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"><h5 class="title">Renk Güncelle</h5></div>
            <div class="card-body">
              <form  [formGroup]="colorUpdateForm">
                  <div class="form-group">
                    <label for="colorName" class="col-sm-2 col-form-label col-form-label-sm">Renk Adı</label>
                  <input type="hidden" formControlName="colorId"/>
                   <input type="text"
                    id="colorName" 
                   formControlName="colorName"
                   class="form-control"
                   placeholder="Renk Adı"/>  
                  </div>
                  <br>
                  <button style="float:right;" type="button" (click)="updateColor()"class="btn btn-outline-dark">Güncelle </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal For Car -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"><h5 class="title">Araba Güncelle</h5></div>
            <div class="card-body">
              <form [formGroup]="carUpdateForm" >
                  <div class="form-group">
                    <label for="carName" class="col-sm-2 col-form-label col-form-label-sm">Araba İsmi</label>
                   <input type="text"
                    id="carName" 
                   formControlName="carName"
                   class="form-control"
                   placeholder="Araba Adı"/>
                  </div>
                  <div class="form-group">
                    <label for="modelYear" class="col-sm-2 col-form-label col-form-label-sm">Model Yılı</label>
                    <input type="text"
                     id="modelYear" 
                    formControlName="modelYear"
                    class="form-control"
                    placeholder="Araba Yılı"/>
                   </div>
                   <div class="form-group">
                    <label for="dailyPrice" class="col-sm-2 col-form-label col-form-label-sm">Günlük Fiyat</label>
                    <input type="number"
                     id="dailyPrice" 
                    formControlName="dailyPrice"
                    class="form-control"
                    placeholder="Günlük Fiyatı"/>
                   </div>
                   <div class="form-group">
                    <label for="description" class="col-sm-2 col-form-label col-form-label-sm">Açıklama</label>
                    <input type="text"
                     id="description" 
                    formControlName="description"
                    class="form-control"
                    placeholder="Açıklaması"/>
                   </div>
                 
                   <div class="form-group">
                    <label for="findeks" class="col-sm-2 col-form-label col-form-label-sm">Findeks</label>
                    <input type="number"
                     id="findeks" 
                    formControlName="findeks"
                    class="form-control"
                    placeholder="Findeks Numarası"/>
                   </div>
                   <div class="row">
                    <div class="col-md-6">
                      <label for="Renk" class="col-sm-2 col-form-label col-form-label-sm">Renk</label>
                        <select formControlName="colorId"  class="form-select" aria-label="Renk Seçiniz"> 
                          <option [ngValue]="color.colorId" *ngFor="let color of colors" >{{color.colorName}}</option>
                        </select>
                      </div>
                      
                      <div class="col-md-6">
                        <label for="Marka" class="col-sm-3 col-form-label col-form-label-sm">Marka</label>
                        <select formControlName="brandId" class="form-select" aria-placeholder="Marka Seçiniz">
                            <option [ngValue]="brand.brandId" *ngFor="let brand of brands"  >{{brand.brandName}}</option>
                          </select>
                      </div>
    
                   </div>
                  <br>
                   <button style="float:right;" type="button" (click)="updateCar()" class="btn btn-outline-dark">Araba Güncelle </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      

    
  

