<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><button type="button" routerLink="/admin/cars/add"  style="float:right" class="btn btn-outline-success">Araba ekle</button></div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              
              <th scope="col">Araba Adı</th>
              <th scope="col">Renk Numarası</th>
              <th scope="col">Marka Numarası</th>
              <th scope="col">Günlük Fiyatı</th>
              <th scope="col">Açıklması</th>
              <th scope="col">Findeks Skoru</th>
              <th scope="col">Güncelle</th>
              <th scope="col">Sil</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of cars">
              
              <td>{{car.carName}}</td>
              <td>{{car.colorId}}</td>
              <td>{{car.brandId }}</td>
              <td>{{car.dailyPrice }}</td>
              <td>{{car.description}}</td>
              <td>Findeks Skoru</td>
              <td>
                <button type="button" class="btn btn-outline-warning">
                  Güncelle
                </button>
              </td>
              <td>
                <button type="button" (click)="removeCar(car)" class="btn btn-outline-danger">
                  Sil
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class="content">
    <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><button type="button" routerLink="/admin/colors/add"  style="float:right" class="btn btn-outline-success">Renk ekle</button></div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                
                <th scope="col">Renk Adı</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let color of colors">
                
                <td>{{color.colorName}}</td>
                <td>
                  <button type="button"  class="btn btn-outline-warning">
                    Güncelle
                  </button>
                </td>
                <td>
                  <button type="button" (click)="removeColor(color)" class="btn btn-outline-danger">
                    Sil
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card">
          <div class="card-header"><button type="button" routerLink="/admin/brands/add"  style="float:right" class="btn btn-outline-success">Marka ekle</button></div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th scope="col">Marka Adı</th>
                  <th scope="col">Güncelle</th>
                  <th scope="col">Sil</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let brand of brands">
                  
                  <td>{{brand.brandName}}</td>
                  <td>
                    <button type="button" (click)="getBrand(brand.brandId)"  class="btn btn-outline-warning">
                      Güncelle
                    </button>
                  </td>
                  <td>
                    <button type="button"  (click)="removeBrand(brand)" class="btn btn-outline-danger">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>