<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><button type="button" routerLink="/admin/cars/add"  style="float:right" class="btn btn-outline-success">Araba ekle</button></div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Araba Adı</th>
              <th scope="col">Renk Adı</th>
              <th scope="col">Marka Adı</th>
              <th scope="col">Günlük Fiyatı</th>
              <th scope="col">Açıklması</th>
              <th scope="col">Findeks Skoru</th>
              <th scope="col">Güncelle</th>
              <th scope="col">Sil</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Araba Adı</td>
              <td>Renk Adı</td>
              <td>Marka Adı</td>
              <td>Günlük Fiyat</td>
              <td>Açıklaması</td>
              <td>Findeks Skoru</td>
              <td>
                <button type="button" class="btn btn-outline-warning">
                  Güncelle
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger">
                  Sil
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class="content">
    <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><button type="button" routerLink="/admin/colors/add"  style="float:right" class="btn btn-outline-success">Renk ekle</button></div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Renk Adı</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Renk Adı</td>
                <td>
                  <button type="button" class="btn btn-outline-warning">
                    Güncelle
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-danger">
                    Sil
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card">
          <div class="card-header"><button type="button" routerLink="/admin/brands/add"  style="float:right" class="btn btn-outline-success">Marka ekle</button></div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Marka Adı</th>
                  <th scope="col">Güncelle</th>
                  <th scope="col">Sil</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Marka Adı</td>
                  <td>
                    <button type="button" class="btn btn-outline-warning">
                      Güncelle
                    </button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-danger">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>